body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-family: PingFangSC-Medium, sans-serif;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    &:focus {
        outline: none;
    }
}
html,body{
    height: auto;
    width: 100%;
    background-color: #f5f5f5;
    font-size: 16px;
    user-select: none;
}

.mint-cell-wrapper{
  background-size: 0;
}

.nulldata{
  text-align: center;
  font-size: 0.14rem;
  color: #666;
  margin-top: 20px;
}
.flex-box {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-s-b {
  justify-content: space-between;
}
.overflew {
  overflow: hidden;
}
.bg-white {
   background: #fff;
}
.width-100 {
  width: 100%;
}
.flex-1 {
  flex: 1;
}
.p-ten {
  padding: .1rem; 
}
.p-t-ten {
  padding-top: .1rem;
}
.p-l-ten  {
  padding-left: .1rem;
}
.p-r-ten {
  padding-right: .1rem;
}
.p-b-ten {
  padding-bottom: .1rem;
}
.white-f {
  color: #fff;
}
.font-b {
  font-weight: bold;
}
.color-3 {
  color: #333;
}
.color-7 {
  color: #777;
}
.color-9 {
  color: #999
}
.color-main {
  color: #FF6E15;
}
.font-12 {
  font-size: .12rem;
}
.font-15 {
  font-size: .15rem;
}
.font-18 {
  font-size: .18rem;
}
.m-b-ten {
  margin-bottom: .1rem;
}
.m-r-ten {
  margin-right: .1rem;
}
.m-t-ten {
  margin-top: .1rem;
}
.m-l-ten {
  margin-left: .1rem;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.text-center {
  text-align: center;
}

.text_over {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
} 
.tips:before {
    font-size: .1rem;
    padding: .02rem .05rem;
    color: #fff;
    border-radius: 0.05rem;
}
.tips-takeout:before {
  content: "外卖";
  background: #9BDE56;
}
.tips-first:before {
  content: "首";
  background: #9BDE56;
}
.tips-sub:before {
  content: "减";
  background: #FF6E15;
}
.tips-ticket:before {
  content: "券";
  background: #FC6A6A;
}
.tips-intergral:before {
  content: "积";
  background: #FFC000;
} 
.tips-server:before {
  content: "清";
  background: #de2121;
} 